[buildout]
develop = .
parts = interpreter test
extends = versions.cfg
versions = versions


[versions]
grokcore.viewlet =
# Can be removed after update of grok's version list
grokcore.view = 1.9


[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.viewlet
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = grokcore.viewlet
defaults = ['--tests-pattern', '^f?tests$', '-v']
